//------------------------------------------------------------------//
//------------------------ // Header // ----------------------------//
//------------------------------------------------------------------//

.header-app {
  border-bottom: 2px solid #ff4655;
  width: 70%;
  height: 72px;
  margin: auto;
  background-color: #1f2023;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin-left: 30px;
  }

  .header-rigth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-right: 45px;

    .photo-profile {
      margin-left: 30px;
      height: 70px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: contain;
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid white;
      }
      p {
        margin-left: 10px;
        color: white;
        font-size: 20px;
      }
    }

    .favoris {
      color: white;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-right: 30px;
      font-size: 22px;
    }
    .login {
      color: white;
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-right: 20px;
      height: 38px;
      background-color: #ff4655;
      border-radius: 5px;
      font-size: 22px;
    }
  }
}
